<div class="container mt-5">
  <div class="d-flex justify-content-between mb-4">
    <button class="btn btn-secondary" (click)="goBack()">Back</button>
  </div>
  <div *ngIf="book" class="card">
    <div class="card-img-container">
      <img [src]="book.imagePath || 'https://via.placeholder.com/400'" alt="{{ book.title }}" class="card-img-top img-fluid custom-img">
    </div>
    <div class="card-body">
      <h2 class="card-title">{{ book.title }}</h2>
      <p class="card-text">{{ book.description }}</p>
    </div>
  </div>
</div>
